body {
    font-family: "Courier New", monospace;
    font-weight:bold;
    word-wrap: break-word;
    font-size: medium;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #D5D5D5;
    transition: 0.3s;
}

h1, h2, h3, h4 {
    margin: 2px 2px 2px 2px;

    padding: 0 0 0 0;
}

.button {
    background-color:#D5D5D5;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:2px solid #9099A2;
    display:inline-block;
    cursor:pointer;
    padding: 4px 4px 4px 4px;
    margin: 2px 2px 2px 2px;
    font-size: medium;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
    font-family: 'Press Start 2P', cursive;
    color: #6D7993;
    transition: 0.3s;
}

.button:hover {
    background-color: #9099A2;
}

.tablink {
    width: 100%;
    padding: 2px;
    margin: 1px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border:1px solid #9099A2;
}

.tablink_short {
    width: 80%;
}

.tab {
    overflow: hidden;
}

.tab button {
    float: right;
}

.tab button:hover {
    background-color: #9099A2;
}

.tab .selected_tab {
    background-color: #9099A2;
}

.tabcontent {
    background-color: #D5D5D5;
    display: inline-block;
}

.container {
    /*border: 1px solid gray;*/
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.item_container {
    overflow: auto;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
}

.item_img {
    width: 8vh;
    border: 2px solid #9099A2;
    margin: 2px;
}

.item_div {
    position: relative;
    display: inline-block;
}

#buy_item_list_container, #sell_item_list_container {
    min-height: 10vh;
}

.left_container {
    float: left;
    width: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    left: 0;
}

.right_container {
    float: right;
    width: 49%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    right: 0;
}

.bottom_container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    width: 99%;
    right: 0;
    bottom: 0;
    float:bottom;
}

#map_container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    cursor: default;
    overflow: hidden;
}

#context_menu_container {
    position: fixed;
    max-width: 30%;
    max-height: 70%;
    top: 10px;
    left: 10px;
    overflow-y: auto;
}

#output_container {
    overflow-y: auto;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid #9099A2;
}

#movement_container {
    width: 27vh;
    height: 27vh;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#hotbar_container {
    position: absolute;
    max-width: calc(65vw - 35vh);
    left: 35vh;
    bottom: 10px;
}

.hotbar_div {
    width: calc(((65vw - 35vh) / 10));
    margin: 0 0 0 0;
    position: relative;
    float: left;
}

.hotbar_img {
    width: 100%;
}

.tooltip {
    position: fixed;
    display: none;
    z-index: 99;
    width: 10%;
}

.tooltip td{
    font-size: smaller;
}

.stats_table{
    background-color: #D5D5D5;
 }

.stats_table td{
    border: 1px solid #9099A2;
}

.button:hover {
    background-color:#909090;
}

.button:active {
    position:relative;
    top:1px;
}

.bottom_right_text {
    bottom: 20%;
    right: 10%;
    font-size: x-small;
    position: absolute;
}

.bottom_left_text {
    bottom: 35%;
    left: 35%;
    font-size: x-large;
    position: absolute;
}

.attack_img {
    width: 100%;
    padding: 1px 1px 1px 1px;
}

#move_up_circle, #move_down_circle, #move_left_circle, #move_right_circle {
    height: calc(30vh / 3.3);
    width: calc(30vh / 3.3);
    margin: 3px 3px 3px 3px;
    position: absolute;
    background-color: #D5D5D5;
    border-radius: 50%;
}

#move_up_button, #move_down_button, #move_left_button, #move_right_button{
    color: #9099A2;
    font-size: 10vh;
    position: absolute;
}

#move_up_button, #move_up_circle {
    top: 0;
    left: 8.5vh;
}

#move_down_button, #move_down_circle {
    bottom: 0;
    left: 8.5vh;
}

#move_left_button, #move_left_circle {
    left: 0;
    top: 8.5vh;
}

#move_right_button, #move_right_circle {
    right: 0;
    top: 8.5vh;
}

#buy_item_list_container, #sell_item_list_container, #npc_quest_list_container {
    width: 100%;
    height: auto;
    position: relative;
}

#npc_tab {
    text-align: left;
    position: relative;
}

#zoom_in_img {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 18%;
}

#zoom_out_img {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 18%;
}

#tutorial_container {
    z-index: 99;
    background-color: #c3c3c3;
    display: none;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid #9099A2;
}

#tutorial_content {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#character_status_bar_container {
    position: absolute;
    top: 10px;
    right: 35%;
    height: 3%;
    width: 30%;
}

#character_health_bar_gray {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #9099A2;
}

#character_health_bar_red {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #b90000;
}

#character_health_bar_text {
    position: absolute;
    top: 0;
    right: 0;
}

#character_mana_bar_gray {
    position: absolute;
    top: 130%;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #9099A2;
}

#character_mana_bar_blue {
    position: absolute;
    top: 130%;
    right: 0;
    height: 100%;
    background-color: #0068ff;
}

#character_mana_bar_text {
    position: absolute;
    top: 130%;
    right: 0;
}

#tab_selector_container {
    position: absolute;
    right: 0;
    top: 5px;
    width: 12%;
}

@media only screen and (max-height: 500px) {
    body {
        font-size: smaller;
    }

    .button {
        font-size: smaller;
    }


    .tooltip td{
        font-size: xx-small;
    }
}

#portrait_message {
    display: none;
}

@media only screen and (max-aspect-ratio: 5/4) {
    #app {
        display: none;
    }

    #tutorial_container {
        display: none;
    }

    #portrait_message {
        content: 'portrait mode is not supported, please rotate your screen';
        font-size: 3vh;
        display: block;
    }
}