#world_table {
    table-layout: fixed;
    padding: 0;
    margin: 0;
    

    font-size: 2px;
    cursor: default;
    border-collapse: collapse
}

table, tr, td {
    /*border: 1px solid black;*/
}

td {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
}

#details_div {
    width: 50%;
    max-height: 50vh;
    overflow-y: scroll;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
    padding: 0 18px;
    display: none;
    transition: display 0.3s;
    background-color: #f1f1f1;
}