.tab {
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 2px 8px;
    transition: 0.3s;
    font-size: 17px;
    border: 1px solid gray;
}

.tab button:hover {
    background-color: #909090;
}

.tab .selected_tab {
    background-color: #707070;
}

.tile {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: absolute;
}

.container {
    /*border: 1px solid gray;*/
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.item_container {
    border: 1px solid gray;
    overflow: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.left_container {
    float: left;
    width: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    left: 0;
}

.right_container {
    float: right;
    width: 49%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    right: 0;
}

.bottom_container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    width: 99%;
    right: 0;
    bottom: 0;
    float:bottom;
}

body {
    font-family: "Courier New", monospace;
    word-wrap: break-word;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #D5D5D5;
}

#context_menu_container {
    height: 65vh;
    width: 49%;
    overflow-y: auto;
}

#character_container {
    height: 65vh;
    width: 50%;
    top: 0;
    overflow-y: auto;
}

#output_container {
    height: 34vh;
    overflow-y: auto;
    border: 1px solid gray;
}

#map_container {
    height: 99vh;
    width: 99vh;
    position: absolute;
    top: 0;
    cursor: default;
}

#right_side_container {
    height: 99vh;
    width: calc(100vw - 99vh - 2px);
    position: absolute;
    top: 0;
}

#npc_shop_list_container {
    width: 99%;
    border: 1px solid gray;
}

#npc_quest_list_container {
    width: 99%;
    border: 1px solid gray;
}

#equipped_items_container {
    border: 1px solid gray;
}

#inventory_container {
    border: 1px solid gray;
}

#quest_list_container {
    border: 1px solid gray;
}

#upgrades_container {
    border: 1px solid gray;
}

h1, h2, h3, h4 {
    margin: 2px 2px 2px 2px;

    padding: 0px 0px 0px 0px;
}

.button_1x2 {
    width:20%;
    min-width:64px;
}

.movement_button {
    width: calc((34vh / 3) - 4px);
}

.hide_button {
    float: right;
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}