body {
    font-family: "Courier New", monospace;
    font-weight:bold;
    word-wrap: break-word;
    font-size: medium;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #D5D5D5;
    transition: 0.3s;
}

h1, h2, h3, h4 {
    margin: 2px 2px 2px 2px;

    padding: 0 0 0 0;
}

.button {
    background-color:#D5D5D5;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #909090;
    display:inline-block;
    cursor:pointer;
    /*color:#6D7993;*/
    padding: 2px 2px 2px 2px;
    margin: 1px 1px 1px 1px;
    font-size: medium;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
    font-family: 'Press Start 2P', cursive;
    transition: 0.3s;
}

.button:hover {
    background-color: #909090;
}

.tab {
    overflow: hidden;
}

.tab button {
    float: left;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #909090;
}

.tab .selected_tab {
    background-color: #909090;
}

.tile {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    float: left;
    position: absolute;
}

.container {
    /*border: 1px solid gray;*/
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.item_container {
    border: 1px solid gray;
    overflow: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.left_container {
    float: left;
    width: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    left: 0;
}

.right_container {
    float: right;
    width: 49%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    right: 0;
}

.bottom_container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    width: 99%;
    right: 0;
    bottom: 0;
    float:bottom;
}

#map_container {
    position: fixed;
    height: 100vh;
    width: 100vh;
    top: 0;
    left: 0;
    cursor: default;
}

#context_menu_container {
    position: fixed;
    width: calc((100vw - 100vh) / 2);
    height: 65vh;
    top: 0;
    left: 100vh;
    overflow-y: auto;
}

#character_container {
    position: fixed;
    width: calc((100vw - 100vh) / 2);
    height: 65vh;
    right: 0;
    top: 0;
    overflow-y: auto;
}

#output_container {
    position: fixed;
    height: 34vh;
    width: calc(100vw - 100vh);
    right: 0;
    bottom: 0;
    overflow-y: auto;
    border: 1px solid gray;
}

#movement_container {
    width:30vh;
    height:30vh;
    position: fixed;
    left: 2px;
    bottom: 10px;
}

#hotbar_container {
    position: fixed;
    width: 70vh;
    left: 30vh;
    bottom: 1vh;
}

.hotbar_div {
    width: calc((100% / 10));
    margin: 0 0 0 0;
    position: relative;
    float: left;
}

.hotbar_img {
    width: 100%;
}

.hotbar_tooltip {
    bottom:calc(25vh / 3);
    position: absolute;
    display: none;
}

.hotbar_tooltip td{
    font-size: smaller;
}

.stats_table{
     border: 1px solid gray;
    background-color: #D5D5D5;
 }

.stats_table td{
    border: 1px solid gray;
}

.button:hover {
    background-color:#909090;
}

.button:active {
    position:relative;
    top:1px;
}

.bottom_right_text {
    bottom: 20%;
    right: 10%;
    font-size: x-small;
    position: absolute;
}

.bottom_left_text {
    bottom: 35%;
    left: 35%;
    font-size: x-large;
    position: absolute;
}

.attack_img {
    width: 100%;
    padding: 1px 1px 1px 1px;
}

#move_down_button {
    left: calc(30vh / 3);
    bottom: 0;
    position: absolute;
    color: #909090;
    font-size: calc(30vh / 3);
}

#move_up_button {
    left: calc(30vh / 3);
    top: 0;
    position: absolute;
    color: #909090;
    font-size: calc(30vh / 3);
}

#move_left_button {
    top: calc(30vh / 3);
    left: 0;
    position: absolute;
    color: #909090;
    font-size: calc(30vh / 3);
}

#move_right_button {
    top: calc(30vh / 3);
    right: 0;
    position: absolute;
    color: #909090;
    font-size: calc(30vh / 3);
}

#move_down_button:after {
    content: '';
    height: calc(30vh / 3.3);
    width: calc(30vh / 3.3);
    position: absolute;
    z-index: -1;
    top: 2px;
    right: 2px;
    background-color: #D5D5D5;
    border-radius: 50%;
    display: inline-block;
}

#move_right_button:after {
    content: '';
    height: calc(30vh / 3.3);
    width: calc(30vh / 3.3);
    position: absolute;
    z-index: -1;
    top: 2px;
    right: 2px;
    background-color: #D5D5D5;
    border-radius: 50%;
    display: inline-block;
}

#move_left_button:after {
    content: '';
    height: calc(30vh / 3.3);
    width: calc(30vh / 3.3);
    position: absolute;
    z-index: -1;
    top: 2px;
    right: 2px;
    background-color: #D5D5D5;
    border-radius: 50%;
    display: inline-block;
}

#move_up_button:after {
    content: '';
    height: calc(30vh / 3.3);
    width: calc(30vh / 3.3);
    position: absolute;
    z-index: -1;
    top: 2px;
    right: 2px;
    background-color: #D5D5D5;
    border-radius: 50%;
    display: inline-block;
}

@media only screen and (max-aspect-ratio: 31/18) {
    #map_container {
        height: 70vh;
        width: 70vh;
        top: 0;
        left: 0;
        cursor: default;
    }

    #context_menu_container {
        position: fixed;
        width: calc((100vw - 70vh) / 2);
        height: 65vh;
        top: 0;
        left: 70vh;
        overflow-y: auto;
    }

    #character_container {
        position: fixed;
        width: calc((100vw - 70vh) / 2);
        height: 65vh;
        right: 0;
        top: 0;
        overflow-y: auto;
    }

    #output_container {
        position: fixed;
        height: 34vh;
        width: calc(100vw - 70vh);
        right: 0;
        bottom: 0;
        overflow-y: auto;
        border: 1px solid gray;
    }

    #movement_container {
        width:30vh;
        height:30vh;
        position: fixed;
        left: 2px;
        bottom: 10px;
    }

    #hotbar_container {
        position: fixed;
        width: 36vh;
        left: 32vh;
        bottom: 1vh;
        height: auto;
    }

    .hotbar_div {
         width: calc((100% / 4));
     }
}

@media only screen and (max-height: 500px) {
    body {
        font-size: smaller;
    }

    .button {
        font-size: x-small;
    }
}

@media only screen and (orientation: portrait) {
    body {
        font-size: larger;
    }

    .button {
        font-size: large;
    }
    #map_container {
        height: 100vw;
        width: 100vw;
        float: left;
        cursor: default;
        position: relative;
        margin-bottom: 8px;
    }

    #movement_container {
        width:30vw;
        height:30vw;
        position: absolute;
        left: 2px;
        top: 60vw;
    }

    #move_down_button {
        left: calc(30vw / 3);
        font-size: calc(30vw / 3);
    }

    #move_up_button {
        left: calc(30vw / 3);
        font-size: calc(30vw / 3);
    }

    #move_left_button {
        top: calc(30vw / 3);
        font-size: calc(30vw / 3);
    }

    #move_right_button {
        top: calc(30vw / 3);
        font-size: calc(30vw / 3);
    }

    #hotbar_container {
        width: 70vw;
        position: absolute;
        left: 30vw;
        top: 85vw;
    }

    .hotbar_div {
        width: calc((100% / 10));
    }

    #context_menu_container {
        width: 99vw;
        height: auto;
        max-height: 100vh;
        float: left;
        left: 0;
        position: relative;
        margin-bottom: 8px;
    }

    #character_container {
        width: 99vw;
        height: auto;
        max-height: 100vh;
        float: left;
        left: 0;
        position: relative;
        margin-bottom: 8px;
    }

    #output_container {
        width: 99vw;
        height: auto;
        max-height: 60vh;
        float: left;
        left: 0;
        position: relative;
        margin-bottom: 8px;
    }
}